body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    color: black;
    border-top: 10px solid black;
}

header {
    background: #edb4e2;
    color: white;
    padding: 10px;
}

h1 {
    text-align: center;
}

h2 {
    color: black;
}

p {
    line-height: 1.6;
}

figure {
    margin: 10px;
}

figcaption {
    font-style: italic;
}