body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    color: black;
    border-top: 10px solid black;
}

header {
    background: #edb4e2;
    color: white;
    padding: 10px;
}

h1 {
    text-align: center;
}

h2 {
    color: black;
}

p {
    line-height: 1.6;
}

figure {
    margin: 10px;
}

figcaption {
    font-style: italic;
}

img {
    max-width: 100%;
}

form {
    margin-top: 20px;
    display: flex;
}

form label {
    flex: 20px;
}

label {
    display: block;
    
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 8px;
}

article {
    background-color: #faeded;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;

}

.blog-post {
    margin-bottom: 30px;
    line-height: 1.7;
}

#email {
    padding: 10px;
}

input[type="email"] {
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}


#name {
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

#reason {
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

#comments {
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}



